<div class="left-side-content-container">
  <mat-accordion>
    <!-- Garage section-->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title matTooltip="Click to open panel">
          <span class="material-symbols-outlined" matTooltip="Navigate to Garage">Play</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div routerLink="/chessgame" matTooltip="Click to navigate to Garage">
        <span>New game</span>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
